.main-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    /* border: 1px;
    border-style: solid;
    border-color: rgb(220, 220, 220);
    box-shadow: 2px 2px 2px rgb(220, 220, 220); */
}

.table-container {
    font-size: 18px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--xyz-background-color);
}

.map-container {
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    /* box-shadow: 2px 2px 2px rgb(178, 178, 178); */
}

.key-container {
    font-size: 16px;
}

.button-container {
    font-size: 16px;
    color: white;
    background-color: rgb(53, 111, 220);
}

.key-cell {
    font-size: 16px;
    line-height: 22px;
    vertical-align: top;
    width: 200px;
    color: rgb(119, 99, 99);
    align-items: top;
}

.val-cell {
    font-size: 16px;
    width: 200px;
    margin-right: 50px;
    line-height: 22px;
}