name: Tests

on:
  push:
    branches:
      - '*'
    pull_request:
      branches:
        - '*'
    schedule:
        - cron: '59 23 * * 3'

jobs:
  unittests:
    name: ${{ matrix.os }}, ${{ matrix.environment-file }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        environment-file: [ci/latest.yaml]

    steps:
      - name: checkout repo
        uses: actions/checkout@v2

      - name: setup micromamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: ${{ matrix.environment-file }}
          micromamba-version: 'latest'

      - name: run tests - bash
        shell: bash -l {0}
        run: pytest -v xyzservices
        if: matrix.os != 'windows-latest'

      - name: run tests - powershell
        shell: powershell
        run: pytest -v xyzservices
        if: matrix.os == 'windows-latest'
