name: Update leaflet providers/compress JSON

on:
  schedule:
      - cron: '42 23 1,15 * *'
  workflow_dispatch:
    inputs:
      version:
        description: Manual update reason
        default: refresh
        required: false

jobs:
  unittests:
    name: Update leaflet providers
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        environment-file: [ci/update_providers.yaml]

    steps:
      - name: checkout repo
        uses: actions/checkout@v6

      - name: setup micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ${{ matrix.environment-file }}
          micromamba-version: 'latest'

      - name: Parse leaflet providers/compress output
        shell: bash -l {0}
        run: |
          make update-leaflet
          make compress

      - name: Commit files
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add provider_sources/leaflet-providers-parsed.json
          git add xyzservices/data/providers.json
          git commit -am "Update leaflet providers/compress JSON [automated]"
          git push

